@model AirDnT.Models.ApartmentAddress

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApartmentAddress</h4>
    <hr />
    <dl class="row-apart-addr">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-9" id="curCountry">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-9" id="curCity">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>
        <dd class="col-sm-9" id="curStreet">
            @Html.DisplayFor(model => model.StreetName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Apartment.DisplayName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Apartment.DisplayName)
        </dd>
    </dl>

    <dl class="mapimg" id="map">
        Location
        ========
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApartmentAddressId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/init-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvLiR2w-VRnes-JjYchkU7lKnm5PoJSdA&callback=initMap&libraries=&v=weekly" async></script>
}
