@model IEnumerable<AirDnT.Models.Apartment>

@{ 
    ViewData["Title"] = "Show apartments by counrty";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sAvailability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eAvailability)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sAvailability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eAvailability)
            </td>
        </tr>
        }
    </tbody>
</table>