@model AirDnT.Models.Apartment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Apartment</h4>
<hr />

<div class="splitLayout">
    <dl class="row detailsColumn">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.RoomsNumber)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.RoomsNumber)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.sAvailability)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.sAvailability)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.eAvailability)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.eAvailability)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd class="col-sm-5" id="curCountry">
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-5" id="curCity">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Address.StreetName)
        </dt>
        <dd class="col-sm-5" id="curStreet">
            @Html.DisplayFor(model => model.Address.StreetName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
    </dl>
    <dl class="mapimg detailsColumn" id="map">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/init-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvLiR2w-VRnes-JjYchkU7lKnm5PoJSdA&callback=initMap&libraries=&v=weekly" async></script>
}