@model IEnumerable<AirDnT.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <div style="display:inline-block">
        Display Name: <input type="text" name="DisplayName" id="displayName"/>
        <button class="btnSearch btn btn-primary">Search</button>
    </div>

    <div style="display:inline-block">
        <button type="submit" asp-action="AdvSearch">Advanced Search</button>
    </div>
</div>



<div class="AdvSearchOpt">
    <div style="display:inline-block">
        <button type="submit">Search by country</button>
    </div>
    <div style="display:inline-block">
        <button type="submit">Search by price</button>
    </div>
</div>

<div class="FirstAdvSearch">
    <form asp-controller="Apartments" asp-action="PriceAdvSearch">
        @Html.DisplayNameFor(model => model.RoomsNumber): <input type="number" name="RoomsNumber" />
        @Html.DisplayNameFor(model => model.Price): <input type="number" name="Price" />
        @Html.DisplayNameFor(model => model.Availability): <input type="date" name="Availability" />
        <input type="submit" value="Filter" />
    </form>
</div>

<div class="SecondAdvSearch">
    <form asp-controller="Apartments" asp-action="CountryAdvSearch">
        @Html.DisplayNameFor(model => model.Address.Country): <input type="text" name="Country" />
        @Html.DisplayNameFor(model => model.Address.City): <input type="text" name="City" />
        @Html.DisplayNameFor(model => model.Availability): <input type="date" name="Availability" />
        <input type="submit" value="Filter" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomsNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ApartmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ApartmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ApartmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/search.js"></script>
}
