@model IEnumerable<AirDnT.Models.Apartment>

@{
    ViewData["Title"] = "Index";
    string uid = (string)TempData["UID"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="ShowGraph">Graph</a> |
</p>

<div class="SearchBtns">
    <div style="display:inline-block">
        @Html.DisplayNameFor(model => model.DisplayName): <input type="text" name="DisplayName" id="displayName" />
        <button class="btnSearch btn btn-primary">Search</button>
    </div>

    <div style="display:inline-block">
        <button class="advBtnSearch btn btn-primary">Advanced Search</button>
    </div>
</div>

<div class="AdvSearchOpt" style="display:none">
    <div style="display:inline-block">
        <button class="cSearch btn btn-primary" type="submit">Search by country</button>
    </div>
    <div style="display: inline-block">
        <button class="pSearch btn btn-primary" type="submit">Search by price</button>
    </div>
</div>

<div class="FirstAdvSearch" style="display:none">
        @Html.DisplayNameFor(model => model.RoomsNumber): <input type="number" name="RoomsNumber" id="roomsNum" />
        @Html.DisplayNameFor(model => model.Price): <input type="number" name="Price" id="price" />
        @Html.DisplayNameFor(model => model.sAvailability): <input type="date" name="StartDate" id="sDate" />
        @Html.DisplayNameFor(model => model.eAvailability): <input type="date" name="EndDate" id="eDate" />
        <button class="pFilter btn-info"> Filter</button>
</div>

<div class="SecondAdvSearch ui-widget" style="display:none">
        @Html.DisplayNameFor(model => model.Address.Country): <input type="text" name="Country" id="country"/>
        @Html.DisplayNameFor(model => model.Address.City): <input type="text" name="City" id="city" />
        @Html.DisplayNameFor(model => model.sAvailability): <input type="date" name="StartDate" id="strDate" />
        @Html.DisplayNameFor(model => model.eAvailability): <input type="date" name="EndDate" id="endDate"/>
        <button class="cFilter btn-info"> Filter </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sAvailability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eAvailability)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.OwnerId == int.Parse(uid) || Context.User.IsInRole("Admin"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomsNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sAvailability)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.eAvailability)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ApartmentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ApartmentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ApartmentId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <a asp-action="CountByRoomNumber">Show apartments by rooms</a>
</table>

<script type="text/template" id="template">
    <tr>
        <td>
            ${displayName}
        </td>
        <td>
            ${roomsNumber}
        </td>
        <td>
            ${price}
        </td>
        <td>
            ${sAvailability}
        </td>
        <td>
            ${eAvailability}
        </td>
        <td>
            <a href="/Apartments/Edit/${id}">Edit</a> |
            <a href="/Apartments/Details/${id}">Details</a> |
            <a href="/Apartments/Delete/${id}">Delete</a>
        </td>
    </tr>
</script>

@section Scripts{
    <script src="~/js/search.js"></script>
    <script src="~/js/countries-cities.js"></script>
}
