@model AirDnT.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.Username</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Username" />
        <input type="submit" id="delBtn" value="Delete" class="btn btn-danger" />|
        <a asp-action="Index">Back to List</a>
    </form>
    <div id="warTxt" style="display:none;color:red">You First need to delete the apartments for this Owner</div>
</div>

@section Scripts {
    <script src="~/js/removeCheck.js"></script>
}